<footer class="footer" role="contentinfo">
	<small>
        &copy; {{ site.time | date: '%Y' }}, <a href="{{ site.baseurl }}/">Anubhav Sachan</a> <br>{% if page.url != "/" %}Social: <a href = "https://www.github.com/anubhav4sachan/" target="_blank">Github</a>, <a href="https://www.twitter.com/anubhav4sachan/" target="_blank">Twitter</a>, <a href = "https://www.linkedin.com/in/anubhav4sachan/" target="_blank">LinkedIn</a> &amp; <a href="https://www.instagram.com/anubhavenue/" target="_blank">Instagram</a>.<br>{% endif %}Feel free to reach via <a href = "mailto:hi@anubhavsachan.com">mail</a>.
    </small>
</footer>

<!-- {{ site.baseurl }} -->